RewriteEngine On
# IMPORTANTE: O RewriteBase deve ser o caminho da pasta public a partir da raiz do servidor
RewriteBase /projeto-checkout-crm/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]